{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Speakabroad</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <!-- AOS Animation -->
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">

    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <script>
        tailwind.config = {
            theme: {
                extend: {

                    colors: {

                        primary: "#1A73E8",
                        secondary: "#1FB6FF",
                        pink: "#C026D3",
                        dark: "#0F172A",
                        light: "#F8FAFC",

                    },

                    fontFamily: {

                        poppins: ['Poppins', 'sans-serif'],

                    }

                }
            }
        }
    </script>

</head>


<body class="font-poppins bg-light text-dark overflow-x-hidden">

    {% include "navbar.html" %}

    <div class="min-h-screen overflow-x-hidden">

        {% block content %}

        {% endblock %}

    </div>

    {% include "footer.html" %}

    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>

    <script>
        AOS.init({
            duration: 500,
            once: true
        });
    </script>

</body>

</html>