{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- HERO SECTION -->

<section class="relative h-[50vh] flex items-center justify-center text-center text-white">

    <img src="https://media.cntraveler.com/photos/58de89946c3567139f9b6cca/master/pass/GettyImages-468366251.jpg"
        class="absolute inset-0 w-full h-full object-cover">

    <div class="absolute inset-0 bg-black/60"></div>

    <div class="relative z-10 max-w-4xl px-6">

        <h1 class="text-4xl md:text-5xl font-bold mb-6 uppercase shine-text mt-10">
            Study Abroad
        </h1>

        <p class="text-gray-200 mb-8">
            <a href="/" class="text-white">Home</a>
            <span>> Study Abroad</span>
        </p>


    </div>

</section>


<!-- ABOUT STUDY ABROAD -->

<section class="py-20 bg-white">

    <div class="max-w-7xl mx-auto px-6 grid md:grid-cols-2 gap-12 items-center">

        <div>

            <img src="/static/images/studyabroad.jpg"
                class="rounded-xl shadow-xl w-full h-[400px] md:h-[600px] object-cover">

        </div>

        <div>

            <h2 class="text-4xl font-bold text-primary mb-6">
                Study Abroad with SpeakAbroad
            </h2>

            <p class="text-gray-600 mb-6 text-justify">

                SpeakAbroad is a trusted education consultancy dedicated to helping students
                turn their dreams of international education into reality. Since 2014,
                we have supported aspiring learners at every stage of their journey —
                from selecting the right course and university to exam preparation,
                documentation guidance, and visa assistance.

            </p>

            <p class="text-gray-600 mb-6 text-justify">

                Our goal is to help each student achieve their global academic ambitions
                through expert counselling, personalized support, and a seamless admission
                process. We ensure every student is fully prepared for a successful future abroad.

            </p>

            <p class="text-gray-600 text-justify">

                With SpeakAbroad, you don’t just apply to universities —
                you build a clear pathway toward a brighter, borderless future.

            </p>

        </div>

    </div>

</section>



<!-- STUDY DESTINATIONS -->

<section id="countries" class="py-24 bg-fixed bg-center bg-cover relative">

    <!-- overlay -->

    <div class="absolute inset-0 bg-white"></div>

    <div class="relative mx-auto px-6">

        <h2 class="text-4xl text-center font-bold text-primary mb-16">
            Popular Study Destinations
        </h2>

        <div class=" mx-auto px-6">


            <div class="flex gap-6 overflow-x-auto pb-6 scroll-smooth">

                <!-- Austria -->

                <div class="min-w-[280px] h-[420px] relative rounded-xl overflow-hidden shadow-xl group">

                    <img src="https://images.travelandleisureasia.com/wp-content/uploads/sites/2/2024/01/23152129/halstatt-1-1600x900.jpeg"
                        class="absolute inset-0 w-full h-full object-cover group-hover:scale-110 transition duration-500">

                    <div class="absolute inset-0 bg-black/40"></div>

                    <div class="absolute bottom-6 left-6 text-white ">

                        <h3 class="text-2xl font-semibold">
                            Austria
                        </h3>

                    </div>

                </div>


                <!-- Georgia -->

                <div class="min-w-[280px] h-[420px] relative rounded-xl overflow-hidden shadow-xl group">

                    <img src="https://t3.ftcdn.net/jpg/05/23/33/38/360_F_523333819_u2r3CvlDbLmQy5RaWadGvtpPDVr0rs3g.jpg"
                        class="absolute inset-0 w-full h-full object-cover group-hover:scale-110 transition duration-500">

                    <div class="absolute inset-0 bg-black/40"></div>

                    <div class="absolute bottom-6 left-6 text-white">

                        <h3 class="text-2xl font-semibold">
                            Georgia
                        </h3>

                    </div>

                </div>


                <!-- Netherlands -->

                <div class="min-w-[280px] h-[420px] relative rounded-xl overflow-hidden shadow-xl group">

                    <img src="https://media.istockphoto.com/id/2192860784/photo/amsterdam-city-houses-at-canal-waterfront-with-spring-tulips.jpg?s=612x612&w=0&k=20&c=qasuIrAj0zrA3FCxNPm7pjL7D4zWRLml0858agYldJE="
                        class="absolute inset-0 w-full h-full object-cover group-hover:scale-110 transition duration-500">

                    <div class="absolute inset-0 bg-black/40"></div>

                    <div class="absolute bottom-6 left-6 text-white">

                        <h3 class="text-2xl font-semibold">
                            Netherlands
                        </h3>

                    </div>

                </div>


                <!-- Denmark -->

                <div class="min-w-[280px] h-[420px] relative rounded-xl overflow-hidden shadow-xl group">

                    <img src="https://media.istockphoto.com/id/587892190/photo/copenhagen-denmark-at-nyhavn-canal.jpg?s=612x612&w=0&k=20&c=36euZjYvsTQnIYVcTUhErkGLU564g9fnctOAEzVUlIg="
                        class="absolute inset-0 w-full h-full object-cover group-hover:scale-110 transition duration-500">

                    <div class="absolute inset-0 bg-black/40"></div>

                    <div class="absolute bottom-6 left-6 text-white">

                        <h3 class="text-2xl font-semibold">
                            Denmark
                        </h3>

                    </div>

                </div>


                <!-- Italy -->

                <div class="min-w-[280px] h-[420px] relative rounded-xl overflow-hidden shadow-xl group">

                    <img src="https://images.travelandleisureasia.com/wp-content/uploads/sites/2/2024/03/18170044/venice.jpeg"
                        class="absolute inset-0 w-full h-full object-cover group-hover:scale-110 transition duration-500">

                    <div class="absolute inset-0 bg-black/40"></div>

                    <div class="absolute bottom-6 left-6 text-white">

                        <h3 class="text-2xl font-semibold">
                            Italy
                        </h3>

                    </div>

                </div>

            </div>

        </div>
    </div>

</section>



<!-- LANGUAGE TESTS -->

<section class="py-24 bg-white">


    <div class="max-w-7xl mx-auto px-6 text-center">

        <h2 class="text-3xl md:text-4xl font-bold text-primary mb-4">
            Accepted Language Tests
        </h2>

        <p class="text-gray-500 mb-14 max-w-2xl mx-auto text-xs">
            We prepare students for internationally recognized language
            proficiency exams required for studying abroad.
        </p>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-8">

            <!-- IELTS -->

            <div class="group bg-white p-8 rounded-xl shadow-sm 
                    hover:shadow-xl hover:-translate-y-2 transition duration-300 hover:bg-blue-500">

                <div class="w-14 h-14 mx-auto flex items-center justify-center 
                        rounded-full bg-blue-100 group-hover:bg-white transition mb-4">

                    <i class="fa-solid fa-graduation-cap text-blue-600 text-xl 
                   group-hover:text-blue-500"></i>

                </div>

                <h3 class="font-semibold text-lg text-gray-800 group-hover:text-white">
                    IELTS
                </h3>

            </div>


            <!-- PTE -->

            <div class="group bg-white p-8 rounded-xl shadow-sm 
                    hover:shadow-xl hover:-translate-y-2 transition duration-300 hover:bg-blue-500">

                <div class="w-14 h-14 mx-auto flex items-center justify-center 
                        rounded-full bg-blue-100 group-hover:bg-white transition mb-4">

                    <i class="fa-solid fa-language text-blue-600 text-xl 
                   group-hover:text-blue-500"></i>

                </div>

                <h3 class="font-semibold text-lg text-gray-800 group-hover:text-white">
                    PTE
                </h3>

            </div>


            <!-- OET -->

            <div class="group bg-white p-8 rounded-xl shadow-sm 
                    hover:shadow-xl hover:-translate-y-2 transition duration-300 hover:bg-blue-500">

                <div class="w-14 h-14 mx-auto flex items-center justify-center 
                        rounded-full bg-blue-100 group-hover:bg-white transition mb-4">

                    <i class="fa-solid fa-user-doctor text-blue-600 text-xl 
                   group-hover:text-blue-500"></i>

                </div>

                <h3 class="font-semibold text-lg text-gray-800 group-hover:text-white">
                    OET
                </h3>

            </div>


            <!-- Spoken English -->

            <div class="group bg-white p-8 rounded-xl shadow-sm 
                    hover:shadow-xl hover:-translate-y-2 transition duration-300 hover:bg-blue-500">

                <div class="w-14 h-14 mx-auto flex items-center justify-center 
                        rounded-full bg-blue-100 group-hover:bg-white transition mb-4">

                    <i class="fa-solid fa-comments text-blue-600 text-xl 
                   group-hover:text-blue-500"></i>

                </div>

                <h3 class="font-semibold text-lg text-gray-800 group-hover:text-white">
                    Spoken English
                </h3>

            </div>

        </div>

    </div>


</section>




<!-- CTA -->

<section class="bg-primary py-20 text-center text-white">

    <div class="max-w-4xl mx-auto px-6">

        <h2 class="text-3xl font-bold mb-6">
            Start Your Study Abroad Journey Today
        </h2>

        <p class="mb-8 text-blue-100">
            Get expert guidance from SpeakAbroad and secure admission to top international universities.
        </p>

        <a href="#" class="bg-white text-primary px-8 py-3 rounded-lg font-semibold hover:bg-gray-200 transition">

            Get Free Consultation

        </a>

    </div>

</section>

{% endblock %}